body {
    font-family: 'Roboto', sans-serif;
    flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 40px;
    font-size: 30px;
}

.grid-container {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
    width: 70vw;
    margin: auto;
    
}

.square {
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    font-size: 5rem;
    font-weight: 100;
    cursor: pointer;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.green {
    color: green;
}