* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: black;
    color: white;
}

.pop-up {
    position: absolute;
    top: 20vh;
    border: solid 2px black;
    font-size: 1rem;
    width: 60vw;
    height: 40vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: aqua;
    color: black;
    border-radius: 10px;
    visibility: hidden;

}


label, input, button {
    width: 40%;
    margin: 10px;
}

.pop-up button {
    border-radius: 5px;
    padding: 7px;
    background-color: blueviolet;
}

.button-container {
    display: flex;    
    justify-content: center;
    align-items: end;
    height: 12vh;
    align-self: flex-end;
}

.spacer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 40px;
    font-size: 30px;
}

.grid-container {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50vh;
    width: 70vw;
    margin: auto;
    background-color: white;
    color: black;
    
}

.square {
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    font-size: 5rem;
    font-weight: 100;
    cursor: pointer;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.green {
    color: green;
}

.restartBtn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.restartBtn-container button {
    padding: 7px;
}